* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
        display: flex;
        justify-content: center;
        min-height: 100vh;
}

body {
        margin-top: 1%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.6;
        font-size: 16px;
        background: #fff;
        width: 75%;
}

a {
        color: #B8BECD;
        text-decoration: none;
}

.arrow {
        border: solid #FB8F1D;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
}

.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
}

/* Header */

nav {
        display: flex;
        color: #fff;
        padding: 0 5px;
        justify-content: space-between;
        align-items: center;
}

nav .left-side-nav a {
        padding: 5px;
}

nav .left-side-nav a:hover {
        color: #202336;
        transition: 0.5s;
}

nav .logo {
        padding: 10px;
}

nav .right-side-nav a {
        color: #FB8F1D;
        padding: 10px 50px;
        border: #FB8F1D 1px solid;
        border-radius: 5px;
}

nav .right-side-nav a:hover {
        background: #FB8F1D;
        color: #fff;
        transition: 0.5s;
}

/* Dowload container */

.download-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
}

.download-text {
        width: 50%;
}

.download-text h1 {
        font-family: 'Playfair Display', serif;
        font-size: 36px;
        font-weight: 700;
        color: #202336;
}

.download-text p {
        font-family: 'Muli', serif;
        font-size: 17px;
        color: #B8BECD;
        margin: 10px 0 30px 0;
}

.download-text .download-btn {
        background-color: #FB8F1D;
        color: #fff;
        padding: 10px 50px;
        border-radius: 5px;
}

.download-image {
        transform: scale(0.7);
}

/* Testimonials container */

.testimonials-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
}

.testimonials-text {
        width: 50%;
}

.testimonials-text h1 {
        font-family: 'Playfair Display', serif;
        font-size: 36px;
        font-weight: 700;
        color: #202336;
}

.testimonials-text .stars {
        width: 100px;
        height: 20px;
        margin: 10px 0 30px 0;
}

.testimonials-text p {
        width: 75%;
        font-family: 'Mulish', serif;
        font-size: 24px;
        line-height: 36px;
        margin: 10px 0 30px 0;
}

.testimonials-author h4 {
        font-family: 'Inter', serif;
        font-size: 22px;
        font-weight: 700;
        color: #000;
}

.testimonials-author p {
        font-family: 'Inter', serif;
        line-height: 48px;
        font-weight: 400;
        font-size: 18px;
        color: #000;
        opacity: 0.85;
}

.testimonials-text .testimonials-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
}

/* Trending Stories */

.trending-stories-container {
        margin: 20px 0;
}

.trending-stories-container .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.trending-stories-container .heading h1 {
        font-family: 'Playfair Display', serif;
        font-size: 36px;
        font-weight: 700;
        color: #202336;
}

.trending-stories-container .heading a {
        display: flex;
        color: #FB8F1D;
        align-items: center;
}

.trending-stories-container .heading a p {
        line-height: 60px;
        font-family: 'Inter', serif;
        font-size: 17px;
        font-weight: 600;

}


.trending-stories-container .images-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
}

.images-section .image-container {
        width: calc(75% - 10px);
        position: relative;
        padding: 0;
        overflow: hidden;
}

.image-container img {
        width: 200px;
        height: 150px;
        border-radius: 5px;
        object-fit: cover;
}

.image-container h3 {
        font-family: 'Inter', serif;
        font-size: 19px;
        line-height: 30px;
        font-weight: 700;
}

.image-container p {
        font-family: 'Inter', serif;
        font-size: 15px;
        line-height: 26px;
        font-weight: 400;
        color: #7D7987;
}

.image-container .read-more {
        font-family: 'Inter', serif;
        color: #FB8F1D;
        font-weight: 600;
        line-height: 28px;
        font-size: 15px;
        padding-top: 10px;
}

/* Footer */

footer {
        margin: 20px 0;
}

.upper-footer {
        display: flex;
        justify-content: space-between;
}

.upper-footer .logo {}

.upper-footer p {
        font-family: 'Mulish', serif;
        font-weight: 300;
        font-size: 17px;
        line-height: 28px;
        color: #848484;
}

footer .horizontal-line {
        width: 100%;
        height: 1px;
        background-color: #848484;
        margin: 20px 0;
}

footer .social-media {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
}

.social-media img {
        transform: scale(75%);
}