/* Dowload container */

.download-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px 12rem;
        overflow-x: hidden;
}

.download-text {
        width: 50%;
}

.download-text h1 {
        font-family: 'Playfair Display', serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
        color: #202336;
}

.download-text p {
        font-family: 'Muli', serif;
        font-size: 17px;
        font-weight: 300;
        line-height: 30px;
        color: #B8BECD;
        margin: 10px 0 30px 0;
}

.download-btn {
        margin: 0;
        font-family: 'Inter', serif;
        font-size: 16px;
        background-color: #FB8F1D;
        color: #fff;
        padding: 7px 50px;
        border-radius: 5px;
}

.download-btn:hover {
        color: #FB8F1D;
        background-color: #fff;
        border: #FB8F1D 1px solid;
        transition: 0.5s;
}

.download-btn-phone {
        display: none;
}

.download-container img {
        transform: scale(0.8);
}

@media screen and (max-width: 320px) {

        .download-container {
                overflow-x: hidden;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                padding: 0;
                margin: 20px 8px;
        }

        .download-text {
                width: 100%;
        }

        .download-text h1 {
                font-size: 24px;
                line-height: 30px;
                margin: 0;
        }

        .download-text p {
                font-size: 14px;
                line-height: 20px;
                margin: 10px 0;
        }

        .download-btn {
                display: none;
        }

        .download-container img {
                width: 275px;
        }

        .download-btn-phone {
                display: block;
                font-family: 'Inter', serif;
                font-size: 16px;
                background-color: #FB8F1D;
                color: #fff;
                padding: 10px 50px;
                border-radius: 5px;
        }

}

@media screen and (min-width: 2560px) {

        .download-container {
                justify-content: space-between;
        }

        .download-text {
                flex-direction: column;
                display: flex;
                justify-content: center;

        }

        .download-text h1 {
                font-size: 5rem;
                line-height: 4rem;
        }

        .download-text p {
                margin: 4rem 0;
                font-size: 3rem;
                line-height: 3rem;
        }

        .download-btn {
                text-align: center;
                width: 50%;
                padding: 7px 50px;
                border-radius: 1rem;
                font-size: 3rem;
        }

        .download-container img {
                width: 1000px;
        }

}