/* Header */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

nav {
        margin: 0 12rem;
        display: flex;
        color: #fff;
        justify-content: space-between;
        align-items: center;
}

.left-side-nav a {
        padding: 5px 15px;
        color: #B8BECD;
        font-size: 16px;
        font-family: 'Inter', serif;
        font-weight: 400;
}

.left-side-nav .current {
        color: #202336;
        font-weight: 500;
}

.left-side-nav a:hover {
        color: #202336;
        font-weight: 500;
        transition: color 0.5s ease-in-out, transform 0.2s ease-in-out;
        transform: scale(1.1);
}

nav .logo {
        transform: scale(0.8);
}

.logo:hover {
        transform: scale(1.1);
        transition: transform 0.5s linear;
}


.right-side-nav {
        display: flex;
        gap: 15px;
        align-items: center;
        padding: 0;
}

.right-side-nav a {
        padding: 7px 50px;
        border-radius: 5px;
}

.button-white {
        background-color: #fff;
        color: #FB8F1D;
        border: #FB8F1D 1px solid;
}

.button-orange {
        background-color: #FB8F1D;
        color: #fff;
        border: #FB8F1D 1px solid;
}

.button-white:hover {
        background: #FB8F1D;
        color: #fff;
        transition: 0.5s linear;
}

.button-orange:hover {
        background: #fff;
        color: #FB8F1D;
        transition: 0.5s linear;
}

.hamburger-menu {
        display: none;
        flex-direction: column;
        cursor: pointer;
        padding: 5px;
}

.bar {
        width: 25px;
        height: 3px;
        background-color: #FB8F1D;
        margin: 3px 0;
}

@media (max-width: 320px) {
        nav {
                margin: 0;
                display: flex;
                justify-content: space-between;
        }

        .hamburger-menu {
                display: flex;
        }

        .left-side-nav {
                display: none;
        }

        .logo {
                padding-top: 5px;
                transform: scale(0.6);
        }

        .right-side-nav {
                display: block;
        }

        .right-side-nav a {
                font-size: 10px;
                padding: 5px 10px !important;
        }

}

@media screen and (min-width: 2560px) {

        .left-side-nav a {
                font-size: 3rem;
        }

        .right-side-nav {
                gap: 30px;
        }

        .right-side-nav a {
                font-size: 3rem;
                border-radius: 1rem;
        }

        .logo img {
                width: 100px;
                height: auto;
        }


}