/* Header */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

nav {
        margin: 0 12rem;
        display: flex;
        color: #fff;
        padding: 0 5px;
        justify-content: space-between;
        align-items: center;
}

nav .left-side-nav a {
        padding: 5px;
        color: #B8BECD;
        font-size: 16px;
        font-family: 'Inter', serif;
        font-weight: 400;

}

nav .left-side-nav a:hover {
        color: #202336;
        font-weight: 500;
        transition: 0.5s;
}

nav .logo {
        transform: scale(0.8);
}

nav .right-side-nav a {
        color: #FB8F1D;
        padding: 10px 50px;
        border: #FB8F1D 1px solid;
        border-radius: 5px;
}

nav .right-side-nav a:hover {
        background: #FB8F1D;
        color: #fff;
        transition: 0.5s;
}

.hamburger-menu {
        display: none;
        flex-direction: column;
        cursor: pointer;
        padding: 5px;
}

.bar {
        width: 25px;
        height: 3px;
        background-color: #FB8F1D;
        margin: 3px 0;
}

@media (max-width: 320px) {
        nav {
                margin: 0;
                display: flex;
                justify-content: space-between;
        }

        .hamburger-menu {
                display: flex;
        }

        .left-side-nav {
                display: none;
        }

        .logo {
                padding-top: 5px;
                transform: scale(0.6);
        }

        .right-side-nav {
                display: block;
        }

        .right-side-nav a {
                font-size: 10px;
                padding: 5px 10px !important;
        }

}