@import url(header.css);
@import url(download-container.css);
@import url(trending-stories-container.css);
@import url(testimonials-container.css);
@import url(footer.css);

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
}

html {
        display: flex;
        justify-content: center;
}

body {
        display: block;
        margin-top: 1%;
        line-height: 1.6;
        font-size: 16px;
        background: #fff;
        overflow-x: hidden;
        width: 100%;
}

a {
        color: #B8BECD;
        text-decoration: none;
}

@media screen and (max-width: 320px) {
        body {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
        }
}