@import url(header.css);
@import url(download-container.css);
@import url(trending-stories-container.css);
@import url(testimonials-container.css);
@import url(footer.css);

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
        display: flex;
        justify-content: center;
}

body {
        margin-top: 1%;
        line-height: 1.6;
        font-size: 16px;
        background: #fff;
        overflow-x: hidden;
}

a {
        color: #B8BECD;
        text-decoration: none;
}