/* Testimonials container */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.testimonials-container {
        padding: 3rem 12rem;
        margin: 40px 0;
        background-color: #F8F8F8;
}

.testimonials-container h1 {
        font-family: 'Playfair Display', serif;
        font-size: 36px;
        font-weight: 700;
        color: #000;
        line-height: 50px;
}

.testimonials-info {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.testimonials-text {
        width: 50%;
}

.testimonials-text .stars {
        margin: 10px 0 30px 0;
}

.testimonials-text p {
        width: 75%;
        font-family: 'Muli', serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        margin: 10px 0 30px 0;
}

.author-image-phone,
.stars-phone {
        display: none;
}

.author-info h4 {
        font-family: 'Inter', serif;
        font-size: 22px;
        font-weight: 700;
        color: #000;
}

.author-info p {
        font-family: 'Inter', serif;
        line-height: 48px;
        font-weight: 400;
        font-size: 18px;
        color: #000;
        opacity: 0.85;
}

@media screen and (max-width: 320px) {

        .testimonials-container {
                padding: 3rem 0rem;
        }

        .testimonials-container h1 {
                text-align: center;
        }

        .testimonials-info {
                margin-top: 30px;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
        }

        .author-image,
        .stars {
                display: none;
        }

        .author-image-phone,
        .stars-phone {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                margin: 0;
        }

        .author-image-phone img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 50%;
        }

        .testimonials-text {
                width: 90%;
        }

        .testimonials-text p {
                margin: 0;
                text-align: center;
                width: 100%;
                line-height: 1.5rem;
                font-size: 1rem;
        }

        .testimonials-author {
                justify-content: center;
                align-items: center;
                display: flex;
                margin: 20px 0;
                gap: 20px;
        }

}

@media screen and (min-width: 2560px) {

        .testimonials-container h1 {
                font-size: 5rem;
        }

        .testimonials-info {
                margin-top: 0;
        }

        .testimonials-text .stars img {
                height: 3rem;
        }

        .testimonials-text p {
                width: 100%;
                font-size: 3rem;
                line-height: 3rem;
        }

        .author-image img {
                width: 40rem;
        }

        .author-info h4 {
                font-size: 3rem;
        }

        .author-info p {
                font-size: 2rem;
                line-height: 3rem;
        }


}