/* Trending Stories */

.trending-stories-container {
        margin: 100px 12rem;
}

.trending-stories-container .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.trending-stories-container .heading h1 {
        font-family: 'Playfair Display', serif;
        font-size: 36px;
        font-weight: 700;
        color: #202336;
}

.trending-stories-container .heading a {
        display: flex;
        color: #FB8F1D;
        align-items: center;
}

.trending-stories-container .heading a p {
        line-height: 60px;
        font-family: 'Inter', serif;
        font-size: 17px;
        font-weight: 600;

}

.trending-stories-container .images-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
}

.images-section .image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(75% - 10px);
}

#image-1 {
        background: url(/resources/image\ 12.png);
}

#image-2 {
        background: url(/resources/image\ 13.png);
}

#image-3 {
        background: url(/resources/image\ 14.png);
}

#image-4 {
        background: url(/resources/image\ 15.png);
}

.image-container .image {
        background: url(/resources/image\ 12.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: auto;
        height: 200px;
        border-radius: 7px;
}

.image-container h3 {
        font-family: 'Inter', serif;
        font-size: 19px;
        line-height: 30px;
        font-weight: 700;
}

.image-container p {
        font-family: 'Inter', serif;
        font-size: 15px;
        line-height: 26px;
        font-weight: 400;
        color: #7D7987;
}

.image-container .read-more {
        font-family: 'Inter', serif;
        color: #FB8F1D;
        font-weight: 600;
        line-height: 28px;
        font-size: 15px;
        padding-top: 10px;
}