/* Trending Stories */

.trending-stories-container {
        margin: 100px 12rem;
}

.heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.heading h1 {
        font-family: 'Playfair Display', serif;
        font-size: 36px;
        font-weight: 700;
        color: #202336;
}

.heading a {
        display: flex;
        color: #FB8F1D;
        align-items: center;
}

.heading a p {
        line-height: 60px;
        font-family: 'Inter', serif;
        font-size: 17px;
        font-weight: 600;

}

.images-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
}

.image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(75% - 10px);
}

.image-container:hover {
        transform: translateY(-10px);
}

#image-1 {
        background: url(/resources/image\ 12.png);
}

#image-2 {
        background: url(/resources/image\ 13.png);
}

#image-3 {
        background: url(/resources/image\ 14.png);
}

#image-4 {
        background: url(/resources/image\ 15.png);
}

.image-container .image {
        background-size: cover;
        background-repeat: no-repeat;
        width: auto;
        height: 200px;
        border-radius: 7px;
}

.image-container h3 {
        font-family: 'Inter', serif;
        font-size: 19px;
        line-height: 30px;
        font-weight: 700;
}

.image-container p {
        font-family: 'Inter', serif;
        font-size: 15px;
        line-height: 26px;
        font-weight: 400;
        color: #7D7987;
}

.image-container .read-more {
        font-family: 'Inter', serif;
        color: #FB8F1D;
        font-weight: 600;
        line-height: 28px;
        font-size: 15px;
        padding-top: 10px;
}

.arrow {
        border: solid #FB8F1D;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
}

.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
}

@media screen and (max-width: 320px) {

        .trending-stories-container {
                margin: 0 10px;
        }

        .image-container:hover {
                transform: translateY(0);
        }

        .heading {
                margin: 0 1rem;
        }

        .heading h1 {
                text-align: center;
                font-size: 1.4rem;
        }

        .heading a p {
                font-size: 0.7rem;
        }

        .arrow {
                border-width: 0 1px 1px 0;
                padding: 2px;
        }


        .images-section {
                margin: 1.5rem 0;
                flex-direction: column;
                align-items: center;
        }

        .image-container {
                width: 75%;
                align-items: center;
        }

        .image {
                background-size: cover !important;
                width: 150px !important;
                height: 150px !important;
        }

        .image-container h3 {
                text-align: center;
                font-size: 1rem;
        }

        .image-container p {
                text-align: center;
        }

}

@media screen and (min-width: 2560px) {

        .heading {
                margin-bottom: 4rem;
        }

        .heading h1 {
                font-size: 5rem;

        }

        .heading a p {
                font-size: 2rem;
        }

        .arrow {
                border-width: 0 4px 4px 0;
                padding: 5px;
        }

        .images-section {
                align-items: start;
        }

        .image-container h3 {
                margin: 1rem 0;
                font-size: 2rem;
                text-align: center;
        }

        .image-container p {
                text-align: center;
                font-size: 1.5rem;
        }

        .image-container .read-more {
                font-size: 1.5rem;
        }

        .image-container .image {
                border-radius: 15px;
                height: 500px !important;
                width: 500px !important;
                background-size: cover !important;
                background-repeat: no-repeat !important;
        }

        .image-container {
                align-items: center;
                justify-content: center;
        }

}